name: Terraform
on:
  push:
    branches:
      - main

jobs:
  docs:
    name: docs
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        name: Checkout source code

      - name: Render terraform docs inside the README.md and push changes back to main branch
        uses: terraform-docs/gh-actions@aeae0038ed47a547e0c0fca5c059d3335f48fb25

      # fix to terraform-docs action change ownership of files
      - name: Update ownership of files
        run: |
          sudo chown $(id -u):$(id -g) -R .git/

      - name: Check for available updates
        id: check-existence
        run: |
          echo "::set-output name=branches::$(git ls-remote --heads origin generated-docs-\* | tr -d '\n')"

      - name: Create Pull Request
        if: steps.check-existence.outputs.branches == ''
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412
        with:
          title: Update terraform docs
          branch: generated-docs
          branch-suffix: short-commit-hash
          delete-branch: true
          commit-message: "docs: autogenerated docs"
          add-paths: |
            **/README.md
